@page "{id}"
@model EditModel

<h3>Update Primer</h3>
<form class="form" method="POST">
    <div class="form-group "><label>Brand:</label><input class="form-control"  asp-for="Primer.Brand"></div>
    <div class="form-group "><label>Size:</label><input class="form-control" asp-for="Primer.Size"></div>
    <input asp-for="Primer.ID" class="hidden">
    <button type="submit" class="btn btn-default btn-lrg">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
</form>